/* base */
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}


h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}




/* header  */
main {
    margin: 1rem 2.5rem;
}

.home {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    border-radius: 7px;
    padding: 0 1rem;
    padding-top: 2rem;
    width: 100%;
}

.header-img img {
    width: 100%;
}

.header-text {
    width: 50%;
}

.header-des {
    font-size: .9rem;
    padding: 5px 0;
}

.header-btn {
    background-color: #DD0000;
    color: white;
    font-weight: 500;
    padding: .7rem 1.6rem;
    border-radius: 5px;
}

.header-btn i {
    margin-left: 5px;
}

.header-btn:hover {
    background-color: white;
    color: #DD0000;
    transition: 0.5s;
    font-weight: 600;
}

/* end header */



/* start main */
.transfer-section {
    display: flex;
    justify-content: center;
    margin: 3rem 0;

}

.match-menu {
    justify-content: center;
    background-color: black;
    padding: .8rem;
    border-radius: 5px;
    align-items: center;
    position: relative;
    height: 17vw;
    width: 70vh;

}

div .btn {
    background-color: #DD0000;
    color: aliceblue;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.btn:hover {
    background-color: white;
    color: #DD0000;
    transition: 0.5s;
    font-weight: 600;
}

.match-menu button {
    display: block;
    margin: 9px 0;
    border: none;
}

div .active {
    background-color: white;
    color: #DD0000;
    transition: 0.5s;
    font-weight: 600;
}

.transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 15px;
    width: 95%;
    margin-left: 3%;



}

.player {

    border: 1px solid gray;
    border-radius: 5px;
    padding: 6px;
    width: 100%;

}

.player img {
    width: 100%;
    margin-bottom: 1rem;
}

.transfer-des {
    font-size: .8rem;
    width: 100%;
    display: block;
}

.extra {
    display: flex;

}

.time,
.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(154, 144, 144);
    font-size: .7rem;

}

.comment {
    margin: 0 1rem;
}

.view-btn {
    text-align: center;
    margin: 1rem 0;
    display: none;
    width: none;
}





/*start footer */
footer {
    background-color: black;
    color: white;
    padding: 3rem 0;
}

footer h2 {
    text-align: center;
}

hr {
    margin: 2rem 1rem;
    border: 1px solid gray;
}

.faq {
    text-align: center;
}

.faq a {
    text-decoration: none;
    color: rgb(194, 188, 188);
    font-size: .7rem;
    margin-left: 8px;

}

.faq a:hover {
    text-decoration: underline;
}

.icon {
    text-align: center;
    padding: 1rem 0;
}

.icon i {
    color: white;
    padding: 0 .6rem;

}

/*end  footer */

/* media queries for mobile */
@media screen and (max-width:576px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        text-align: center;
        width: 100%;

    }

    .header-text h1 {
        font-size: 1.6rem;
    }

    .header-img {
        padding: 1.5rem 0;
    }

    .transfer-section {
        flex-direction: column;
    }

    .match-menu {
        justify-content: center;
        position: relative;
        margin-bottom: 10rem;
        transform: translate(0, 0);
        background-color: white;
        justify-content: center;
        height: 0vw;
        width: 100%;

    }

    .match-menu div button {
        width: 100%;
    }

    .transfer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem 0;
    }

    .player {
        width: 120%;
    }

    .faq a {
        display: block;
        padding: 1rem 0;
    }

}

/* tablet screen */
@media screen and (min-width:577px) and (max-width:820px) {
    .home {
        padding-bottom: 1.6rem;
    }

    .transfer-section {
        flex-direction: column;
        width: 100%;
        justify-content: center;

    }

    .transfer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        margin-top: .5rem;
        margin-left: 10%;

    }

    .player {
        width: 100%;
    }

    .match-menu {
        display: flex;
        justify-content: space-between;

        margin-bottom: 3rem;
        transform: translate(0, 0);
        background-color: white;
        justify-content: center;
        height: 0vw;
        width: 100%;

    }

    .match-menu div {
        margin-left: 25px;
    }

    .match-menu div button {
        margin: 0 5px;
    }

    .hide {
        display: none;
    }

    .view-btn {
        display: block;
    }

    .v-btn {
        padding: .6rem 1.4rem;
        border: none;
        border-radius: 5px;
        background-color: #DD0000;
        color: white;
    }

    .v-btn:hover {
        background-color: white;
        color: #DD0000;
        transition: 0.6s;
    }
}